# Compiled output
lib/
oclif.manifest.json
tsconfig.tsbuildinfo
*.tgz

# Salesforce local config
.sf/
.sfdx/

# Dependencies
node_modules/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment
.env
